body {
    background-image: url('https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg');
     font-family: 'Open Sans', sans-serif;
  }

h1,h2,p{
    color: white;
    text-align: center;
}
 