body {
    background: url('https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg');
    background-repeat: no-repeat;
    background-size: 2600px 1463px;
    font-family: 'Open Sans', sans-serif;
  }

h1,h2,p,h3{
    color: white;
    text-align: center;
}
h1 {
    margin-bottom: -10px;
}
.table {

    background-color: rgba(0, 0, 0,0.65);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    
}
.body {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.satellite {
    text-align: left;
    width:10%
}

.cords {
    text-align: right;
   width: 50%;
}

.backronym {
    text-align: left;
    width: 40%;
}

.data p,h3{
    display: inline-block;
    margin-top: 5px;
  margin-bottom: 5px;
    
}

#map { 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 500px; 
    width: 70%;
    border-radius: 10px;
  
}

#ISSpath {

    color: white;
}